<!DOCTYPE html>
<html>
<head>
    <title>Chat em Tempo Real</title>
</head>
<body>
    <script>
        // Variável global para o JS do chat saber se usuário está logado
     window.loggedIn = "<%= user ? 'true' : 'false' %>";
    </script>
    <script src="/js/chat.js"></script>
</body>
</html>
